- name: Terraform Init
  run: terraform init
  working-directory: terraform

- name: Terraform Plan
  run: terraform plan
  working-directory: terraform

- name: Terraform Apply
  run: terraform apply -auto-approve
  working-directory: terraform
